.blockrain {
  background-color: #7574fc;

  transform: rotate(45deg);
}
.row {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: collumns;
}

.cell {
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 2px;
  margin: 0.5px;

  /* border: 0.1px solid #222; */
}

._0 ._1 {
  background-color: #222;
}

._2 {
  background-color: #6bb9a2;
}
._3 {
  background-color: #ff6ca6;
}
._4 {
  background-color: #ff9677;
}
._5 {
  background-color: #f9f871;
}
._6 {
  background-color: #00aeef;
}
._7 {
  background-color: #ba74fc;
}
._8 {
  background-color: #ec64da;
}
