.blockrain {
  background-color: #7574fc;
}
.row {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: collumns;
}

.cell {
  width: 2.7rem;
  height: 2.7rem;
  border: 0.5px solid #7574fc;
}
